body{

    overflow: hidden;
    margin-top: -10px;
    margin-left: -4px;
    background-image: url('../images/danny-sleeuwenhoek-9uZX2taqn_k-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: -5px;
 
}

@media only screen and (max-width: 600px) {
    body {
        background-image: url('../images/mobile.png');
    }
  }

.overflow{
    overflow:auto;
}

a{
    color: black;
}

nav{
    background-color: white;
    position: absolute;
    height: 100%;
    width: 75px;
    text-align: center;
    margin-top: 0px;
    padding-top: 30px;
}

nav a{
    text-decoration: none;
}

nav h1{
    text-align: center;
    padding-left: 5px;
    font-size: x-large;
    margin-bottom: 50px;
    text-decoration: none;
}

nav h1:hover{filter: invert(81%) sepia(59%) saturate(472%) hue-rotate(350deg) brightness(75%) contrast(101%);}

nav div{

    writing-mode:vertical-rl;
    transform: rotate(-180deg);
    padding: 40%;

}

nav div a{
    
    font-size: large;
    margin-top: 50px;
}

nav div a:hover{font-weight:bolder;}

header{
    position:absolute;
    min-width: 100%;
    color: white;
    overflow-wrap:normal;
}



header p{
    position: fixed;
    width: 125px;
    margin-left: 150px;
    margin-right: 200px;;
    margin-top: 50px;
    font-size: x-large;

}

header div ul{

    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    padding: 0;
    margin-right: 50px;
    margin-top: 50px;
}


header div ul li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    padding-right: 10px;
}

.vectors {
    height: 25px;
    width: 25px;
    filter: invert(100%)
}

.vectors:hover{ filter: invert(81%) sepia(59%) saturate(472%) hue-rotate(350deg) brightness(75%) contrast(101%); }

.git {
    height: 75px;
    width: 75px;
    display:block;
    margin:auto;
    padding-top: 50px;
}


#socials{
    float: right;
}

@media only screen and (max-width: 1070px) {
    #socials {
      float:left;
      margin-left: 150px;
      margin-top: 40px;
    }
  }

.vectorsi {
    margin-top: -2.5px;
    margin-left: -2.5px;
    height: 30px;
    width: 30px;
    filter: invert(100%)
}

.vectorsi:hover{ filter: invert(81%) sepia(59%) saturate(472%) hue-rotate(350deg) brightness(75%) contrast(101%); }


#centerText{

    margin-left: 30%;
    margin-right: 50px;
    margin-bottom: 28%;
    width: 700px;
    position: fixed;
    bottom: 0;
}

@media only screen and (max-width: 1070px) {
    #centerText {
    visibility: hidden;
    }
  }

#hello{
    position:relative;
    font-size: xx-large;
    font-style: italic;
    color: white;
    margin-bottom: -20px;
}

#info{
    position:relative;
    font-size: large;
    width: 575px;
    color: white;
    margin-left: 50px;
    text-decoration: none;
}

.contact{

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 0, 1, 1);


    position:absolute;
    color: black;
    border: 5px solid white;
    background-color: white;

    min-width: 55%;
    min-height: 55%;

    width: auto;
    height: auto;

    max-width: 80%;

    margin-top: 10%;
    margin-left: 25%;
}

@media only screen and (max-width: 600px) {
    .contact {
        width: 200px;
    }
  }

.hidden {
    visibility: hidden;
	max-height: 0;
    max-width: 0;

    
}

#padded{
    padding: 50px;
}

.close{
    height: 25px;
    width: 25px;
}

.experience{

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 0, 1, 1);


    position:absolute;
    color: black;
    border: 5px solid white;
    background-color: white;

    min-width: 65%;
    min-height: 500px;

    width: auto;
    height: auto;

    max-width: 80%;

    margin-top: 10%;
    margin-left: 15%;
}

@media only screen and (max-width: 600px) {
    .experience {
        width: auto;
        margin-left: 75px;
        overflow-y: scroll;
        margin-top: 10px;
    }
  }

.me {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    margin-right: 25px;
}

@media only screen and (max-width: 600px) {
    .me {
        height: 155px;
        width: 155px;
    }
  }

#contactInfo{
    padding: 75px;
    padding-top: 50px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #contactInfo {
        padding: 25px;
    }
  }

.portfolio{

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 0, 1, 1);


    position:absolute;
    color: black;
    border: 5px solid white;
    background-color: white;

    height:100%;

    margin-left: 75px;
}

#portContent{
    padding: 50px;
    display: flex;  
    flex-wrap: wrap;

}

#portHeader{
    width: 100%;
    margin-left: 25px;
}

.project{
    height: 253px;
    width: 450px;
    margin: 15px;
    border-radius: 15px;
    border: black solid 2px;
}

#projectDescription{
    
    visibility: hidden;
    margin-top: 168px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border-radius: 15px;
    text-decoration: none;
}

.projectInfo{
    visibility: visible;
    padding:10px;
    height: 233px;
    width: 430px;
    border-radius: 15px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
}

.project h2{

    width: auto;
    margin-bottom: -17px;
    padding-top: 5px;
    text-decoration: none;
}

.project p{

    width: auto;
    font-size: smaller;
    padding-top: 5px;
    text-decoration: none;
}

#project1{
    background-image: url('../images/projects/weather.png');
    background-position: center;
    background-size:contain;
    filter: grayscale(100%);
}

#project1:hover{ filter:none; }
#project1:hover #projectDescription { visibility: visible; }

#project2{
    background-image: url('../images/projects/dfw.png');
    background-position: center;
    background-size:contain;
    filter: grayscale(100%);
}

#project2:hover{ filter:none; }
#project2:hover #projectDescription { visibility: visible; }

#project3{
    background-image: url('../images/projects/quiz.png');
    background-position: center;
    background-size:contain;
    filter: grayscale(100%);
}

#project3:hover{ filter:none; }
#project3:hover #projectDescription { visibility: visible; }

#project4{
    background-image: url('../images/projects/password.png');
    background-position: center;
    background-size:contain;
    filter: grayscale(100%);

}

#project4:hover{ filter:none; }
#project4:hover #projectDescription { visibility: visible; }